// exercises
b.text_color_red {
  color:#ff0000;
}
table.standard_recover,.standard_recover_UD{
  border: 0px;
  padding-right:50px;
  text-align: left;
  border-collapse:collapse;
}
table.standard_recover td {
  padding-left:0px;
  padding-top:1px;
  padding-bottom:1px;
  padding-right:15px;
  text-align: left;
  border-width: 0px;
  border-style: solid;
  border-color: #666699;
}
table.standard_recover_UD td{
  padding-left:2px;
  padding-top:10px;
  padding-bottom:10px;
  padding-right:2px;
  text-align: left;
  border-width: 0px;
  border-style: solid;
  border-color: #666699;
}
table.standard{
  border: 1px solid black;
  text-align: left;
  border-collapse:collapse;
  td {
    padding-left:15px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:15px;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    border-color: #666699;
  }
}
table.standard th, .standard_recover th{
  padding:5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #00C;
  background-color: #FF9900;
}

table.add{
  border: 0;
  text-align: right;
  border-collapse:collapse;
}

table.graffa{

  border-collapse: collapse;
    text-align: center;
}

td.graf{
  padding:0px;
  text-align: center;
  border-top-style: solid;
  border-top-color: #00C;
  border-top-width: thin;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #00C;
  border-left-style: solid;
  border-left-color: #00C;
  border-left-width: thin;
  border-right-width: thin;
  border-right-style: solid;
  border-right-color: #00C;
}

td.freccia-sx{
  padding:0px;
  border-top-style: solid;
  border-top-color: #00C;
  border-top-width: thin;
  border-left-style: solid;
  border-left-color: #00C;
  border-left-width: thin;
}

td.freccia-dx{
  padding:0px;
  border-top-style: solid;
  border-top-color: #00C;
  border-top-width: thin;
  border-right-width: thin;
  border-right-style: solid;
  border-right-color: #00C;
}

td.freccia-up{
  padding:0px;
  border-top-style: solid;
  border-top-color: #00C;
  border-top-width: thin;
}

td.freccia-left{
  padding:0px;
  border-left-style: solid;
  border-left-color: #00C;
  border-left-width: thin;
}
td.freccia-right, .fattori{
  padding:0px;
  border-right-style: solid;
  border-right-color: #00C;
  border-right-width: thin;
}

td.fattori {
  text-align: right;
  padding-right:10px;
}

td.fattori input {
  text-align: right !important;
}

td.riga{
  border-top: 1px solid #FF0000;
}

.spacer {
  padding-bottom:10px;
  padding-top:10px;
}
.input_tab input{
  text-align: left;
  margin: 0;
}
.input_tab #field_2{
  text-align: right;
}

/* drag order */
.drag-container {
    border: 1px solid #eee;
    padding: 10px;
}
div[data-enabled='0'] {
    opacity: 0.4;
    cursor: auto !important;
}
div[data-drag] {
    border: 1px solid #eee;
    background: #eee;
    padding: 40px;
    display: inline-block;
    cursor: move;
    cursor: -webkit-grab;
    margin: 5px;
    box-sizing: border-box;
}
.drop-container {
    border: 1px solid #eee;
    padding: 10px;
    div[data-drop] {
        border: 1px solid #eee;
        padding: 30px;
        margin: 5px;
        width: 160px;
        height: 160px;
        position: relative;
        &:before {
            content: attr(data-drop);
            position: absolute;
            color: #fff;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            top: 0;
            left: 0;
            background: #000;
        }
    }
    div[data-filled='1'] {
        background: #eee !important;
    }
    .enter {
        background: #eee;
    }
    .drop-remove {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
        color: #fff;
        background: #000;
    }
}
