/* faq */
#faq_nav {
    margin-top: 20px;
    padding-top: 10px;
    .prev, .next, .item, .index {
        display: inline-block;
        padding: 2px 5px;
        background: #eee;
        margin-right: 5px;
    }
    .selected {
        background: #ccc;
    }
}

.link_faq{
    cursor: pointer;
    color: #f08008;
    text-decoration: none;
    font-weight: bold;
}
