body {
  font: normal 100%/200% Verdana, Arial, sans-serif;
  margin: 0;
  padding-top: 4.4em;
  color: #000000;
}
body > header,
body > footer,
body #container {
  box-sizing: border-box;
  padding: 2px 10px;
}
body > header > h1,
body > footer > h1,
body #container > h1 {
  font-size: 1.1em;
}
body #container {
  padding-bottom: 80px;
}
body > header,
body > footer {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #808080;
  color: #ffffff;
}
body > header {
  top: 0;
  height: 70px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body > footer {
  bottom: 0;
  padding-left: 200px;
  background-image: url('../img/logoSEI_footer.png');
  background-repeat: no-repeat;
  background-position: 20px center;
}
body > h2 {
  padding: 5px 10px 10px;
  border-bottom: 1px dotted #aaa;
}
a.link,
a.visited,
.link {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}
/* structure */
.info {
  margin-top: 0;
  padding: 2px 10px;
  background: rgba(128, 128, 128, 0.4);
}
.meaning {
  margin-top: 0;
  padding: 2px 10px;
  background: #eee;
}
.instructions {
  margin-top: 0;
  padding: 2px 10px;
  background: #eee;
}
/* titles */
h3 {
  padding-top: 20px !important;
}
h3.continue {
  padding-top: 5px !important;
  font-size: 1.1em;
}
h3.recover {
  /*  margin-top: 10px !important*/
  margin-top: 45px !important;
  font-weight: bold;
  font-size: 1.1em;
}
h4 {
  margin-top: 45px !important;
}
h5 {
  font-size: 1.0em;
}
h5 {
  font-size: 1.0em;
  margin-bottom: 0px !important;
}
/* tags */
p {
  margin: 1em 0;
  line-height: 1.4em;
}
p.example {
  margin-top: 45px !important;
}
strong {
  font-size: 1.1em;
  font-weight: bold;
}
blockquote {
  line-height: 1.3em;
}
/* tab */
.tab {
  padding-right: 30px;
}
.tab2 {
  padding-right: 60px;
}
.tab3 {
  padding-right: 90px;
}
/* mathjax */
#MathJax_MenuFrame {
  display: none !important;
}
/* messages */
#message {
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  color: black;
  font-size: 1.2em;
  line-height: 1.8em;
  border: solid #808080 6px;
}
#message.layer-target:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 10px solid #808080;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
#message.layer-left:before {
  top: -15px;
  left: 12px;
}
#message.layer-right:before {
  top: -15px;
  right: 12px;
}
#message .layer-close {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: -12px;
  line-height: 25px;
}
#message.error {
  color: orange !important;
  border-color: orange !important;
}
#message.success {
  color: green !important;
  border-color: green !important;
}
#message.failed {
  color: red !important;
  border-color: red !important;
}
/* general classes */
.border {
  border: 1px solid #000;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.button-close {
  background: #fff;
  padding: 5px;
}
/* layer */
.layer {
  padding: 10px;
  border: 1px solid #333;
  background: #fff;
  box-shadow: 0 0 10px #000;
}
/* inputs */
input[type=text] {
  border: 1px solid #fff;
  background: #fce483;
  font-size: 1em;
}
input.disabled {
  background: #eee !important;
}
select {
  font-size: 1em;
}
ul span.x {
  font-size: 24px;
  margin: 0 0 0 2px;
  color: red;
}
ul span.v {
  font-size: 24px;
  margin: 0 0 0 2px;
  color: green;
}
/* widgets */
#widgets {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}
#widgets .font_controller,
#widgets #calc {
  display: inline-block;
  margin-left: 10px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
#widgets > span {
  color: transparent;
}
#widgets #font_minus {
  background: url('../img/font_minus.jpg') no-repeat center center;
}
#widgets #font_plus {
  background: url('../img/font_plus.jpg') no-repeat center center;
}
#widgets #font_regular {
  background: url('../img/font_regular.jpg') no-repeat center center;
}
#widgets #calc {
  background: #ffffff url('../img/calc.png') no-repeat center center;
}
/* calculator */
#calculator {
  border: 1px solid #aaa;
  border-top: 10px solid #808080;
  width: 212px;
  padding: 20px;
  font-size: 12px;
  font-family: sans-serif;
  background: #fff;
  box-shadow: 0 0 10px #666;
  cursor: move;
}
#calculator table td {
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #333;
  cursor: pointer;
}
#calculator table td:hover {
  background: #fff;
}
#calculator .number,
#calculator .dot {
  background: #f5f5f5;
  border: 1px solid #dedede;
}
#calculator .operation,
#calculator .clear {
  background: #d6d6d6;
  border: 1px solid #c6c6c6;
}
#calculator .equal {
  background: #4084f2;
  border: 1px solid #3079ed;
  color: #fff !important;
}
#calculator .equal:hover {
  background: #62a6f4 !important;
}
#display {
  border: 1px solid #aaa;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  width: 98%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 5px;
  text-align: right;
  padding: 0 5px;
  cursor: auto;
}
b.text_color_red {
  color: #ff0000;
}
table.standard_recover,
.standard_recover_UD {
  border: 0px;
  padding-right: 50px;
  text-align: left;
  border-collapse: collapse;
}
table.standard_recover td {
  padding-left: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 15px;
  text-align: left;
  border-width: 0px;
  border-style: solid;
  border-color: #666699;
}
table.standard_recover_UD td {
  padding-left: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 2px;
  text-align: left;
  border-width: 0px;
  border-style: solid;
  border-color: #666699;
}
table.standard {
  border: 1px solid black;
  text-align: left;
  border-collapse: collapse;
}
table.standard td {
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 15px;
  text-align: left;
  border-width: 1px;
  border-style: solid;
  border-color: #666699;
}
table.standard th,
.standard_recover th {
  padding: 5px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: #00C;
  background-color: #FF9900;
}
table.add {
  border: 0;
  text-align: right;
  border-collapse: collapse;
}
table.graffa {
  border-collapse: collapse;
  text-align: center;
}
td.graf {
  padding: 0px;
  text-align: center;
  border-top-style: solid;
  border-top-color: #00C;
  border-top-width: thin;
  border-bottom-width: thin;
  border-bottom-style: solid;
  border-bottom-color: #00C;
  border-left-style: solid;
  border-left-color: #00C;
  border-left-width: thin;
  border-right-width: thin;
  border-right-style: solid;
  border-right-color: #00C;
}
td.freccia-sx {
  padding: 0px;
  border-top-style: solid;
  border-top-color: #00C;
  border-top-width: thin;
  border-left-style: solid;
  border-left-color: #00C;
  border-left-width: thin;
}
td.freccia-dx {
  padding: 0px;
  border-top-style: solid;
  border-top-color: #00C;
  border-top-width: thin;
  border-right-width: thin;
  border-right-style: solid;
  border-right-color: #00C;
}
td.freccia-up {
  padding: 0px;
  border-top-style: solid;
  border-top-color: #00C;
  border-top-width: thin;
}
td.freccia-left {
  padding: 0px;
  border-left-style: solid;
  border-left-color: #00C;
  border-left-width: thin;
}
td.freccia-right,
.fattori {
  padding: 0px;
  border-right-style: solid;
  border-right-color: #00C;
  border-right-width: thin;
}
td.fattori {
  text-align: right;
  padding-right: 10px;
}
td.fattori input {
  text-align: right !important;
}
td.riga {
  border-top: 1px solid #FF0000;
}
.spacer {
  padding-bottom: 10px;
  padding-top: 10px;
}
.input_tab input {
  text-align: left;
  margin: 0;
}
.input_tab #field_2 {
  text-align: right;
}
/* questions */
ul.test {
  list-style-type: none;
}
ul.test li {
  padding: 10px 0;
}
ul.test li label {
  margin-left: 10px;
}
#answers_nav span {
  display: inline-block;
  width: 30px;
  height: 50px;
  border: 1px solid #000;
  margin-right: 10px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px 0 0 0;
}
#answers_nav span.current {
  background: #808080;
  color: #ffffff;
}
#answers_nav span.success {
  background: green;
}
#answers_nav span.failed {
  background: red;
}
#answers_nav span.sattempt {
  background: orange;
}
/* faq */
#faq_nav {
  margin-top: 20px;
  padding-top: 10px;
}
#faq_nav span {
  display: inline-block;
  padding: 5px;
  border: 2px solid #808080;
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  border-radius: 8px;
  cursor: pointer;
}
#faq_nav span:hover {
  background: #808080;
  color: #ffffff;
}
h3.select {
  margin-bottom: 0;
  padding-bottom: 0;
}
h3.select:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 8px solid #333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-left: 10px;
}
ul.select {
  display: none;
  background: #eee;
  margin-top: 0;
  padding-top: 0;
}
ul.select li {
  border-bottom: 1px dotted #ddd;
  padding: 5px;
}
.link_faq {
  cursor: pointer;
  color: #f08008;
  text-decoration: none;
  font-weight: bold;
}
#r_nav {
  margin-top: 20px;
}
#r_nav span {
  display: inline-block;
  padding: 5px;
  border: 2px solid #808080;
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  border-radius: 8px;
  cursor: pointer;
}
#r_nav span:hover {
  background: #808080;
  color: #ffffff;
}
.recovery-hidden {
  display: none;
  padding: 0.3em;
  background: #f2c014;
  color: #f2c014 !important;
  cursor: pointer;
}
.sudest,
.sudovest,
.nordest,
.nordovest,
.lineah,
.lineav,
.frecciasu,
.frecciagiu,
.doppiafreccia,
.doppioangolo {
  width: 50px;
  height: 50px;
  padding: 0 !important;
}
.sudest {
  background: url(../img/se.jpg) no-repeat 0px 0px;
}
.sudovest {
  background: url(../img/sw.jpg) no-repeat 0px 0px;
}
.nordest {
  background: url(../img/ne.jpg) no-repeat 1px 0px;
}
.nordovest {
  background: url(../img/nw.jpg) no-repeat -1px -2px;
}
.lineah {
  background: url(../img/hr.jpg) no-repeat 0px 0px;
}
.lineav {
  background: url(../img/vr.jpg) no-repeat 0px 0px;
}
.frecciasu {
  background: url(../img/fs.jpg) no-repeat 1px 0px;
}
.frecciagiu {
  background: url(../img/fg.jpg) no-repeat 0px 0px;
}
.doppiafreccia {
  background: url(../img/df.jpg) no-repeat 0px 0px;
}
.doppioangolo {
  background: url(../img/dd2.jpg) no-repeat 0px 0px;
}
.test-result {
  border-collapse: collapse;
  text-align: center;
}
.test-result th,
.test-result td {
  border: 1px solid #eee;
  padding: 10px;
}
.test-result th {
  background: #eee;
}
.test-rating {
  font-weight: bold;
}
body.aritmetica > header,
body.aritmetica > footer {
  background-color: #008000;
  color: #ffffff;
}
body.aritmetica a:link,
body.aritmetica a:visited,
body.aritmetica .link,
body.aritmetica > h2 {
  color: #008000;
}
body.aritmetica .info {
  background: rgba(0, 128, 0, 0.4);
}
body.aritmetica #message {
  border: solid #008000 6px;
}
body.aritmetica #message.layer-target:before {
  border-bottom-color: #008000;
}
body.aritmetica #message.error.layer-target:before {
  border-bottom-color: orange;
}
body.aritmetica #message.success.layer-target:before {
  border-bottom-color: green;
}
body.aritmetica #message.failed.layer-target:before {
  border-bottom-color: red;
}
body.aritmetica #answers_nav span.current {
  background: #008000;
  color: #ffffff;
}
body.aritmetica #faq_nav span {
  border: 2px solid #008000;
}
body.aritmetica #faq_nav span:hover {
  background: #008000;
  color: #ffffff;
}
body.aritmetica #r_nav span {
  border: 2px solid #008000;
}
body.aritmetica #r_nav span:hover {
  background: #008000;
  color: #ffffff;
}
body.aritmetica #calculator {
  border-top: 10px solid #008000;
}
body.geometria > header,
body.geometria > footer {
  background-color: #800080;
  color: #ffffff;
}
body.geometria a:link,
body.geometria a:visited,
body.geometria .link,
body.geometria > h2 {
  color: #800080;
}
body.geometria .info {
  background: rgba(128, 0, 128, 0.4);
}
body.geometria #message {
  border: solid #800080 6px;
}
body.geometria #faq_nav span {
  border: 2px solid #800080;
}
body.geometria #faq_nav span:hover {
  background: #800080;
  color: #ffffff;
}
body.geometria #r_nav span {
  border: 2px solid #800080;
}
body.geometria #r_nav span:hover {
  background: #800080;
  color: #ffffff;
}
body.geometria #calculator {
  border-top: 10px solid #800080;
}
body.algebra > header,
body.algebra > footer {
  background-color: #008000;
  color: #ffffff;
}
body.algebra a:link,
body.algebra a:visited,
body.algebra .link,
body.algebra > h2 {
  color: #008000;
}
body.algebra .info {
  background: rgba(0, 128, 0, 0.4);
}
body.algebra #message {
  border: solid #008000 6px;
}
body.algebra #faq_nav span {
  border: 2px solid #008000;
}
body.algebra #faq_nav span:hover {
  background: #008000;
  color: #ffffff;
}
body.algebra #r_nav span {
  border: 2px solid #008000;
}
body.algebra #r_nav span:hover {
  background: #008000;
  color: #ffffff;
}
body.algebra #calculator {
  border-top: 10px solid #008000;
}
